<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expenses</title>
</head>
<body>
<main>

	<label for="idPseudo">Name : </label>
	<div id="idPseudo" th:text="${expense.expenseName}"></div>
	<label for="idDescription">Description : </label>
	<div id="idDescription" th:text="${expense.description}"></div>
	
	<div>
		<label for="lstParticipants">List of participants</label>
		<ul>
			<li th:each="participant : ${participants}" th:text="${participant.user.username}"></li>
		</ul>
	</div>
	
	<form action="/expense/addUser" method="post" th:object="${participant}">
		<input name="idExpense" id="idExpense" th:value="${expense.idExpense}" style="visibility: hidden;" ></input>
		<label for="idUser">Username : </label>
		<select name="idUser" th:field="*{user.idUser}" id="idUser">
			<option th:each="user : ${users}" th:value="${user.idUser}" th:text="${user.username}"></option>
		</select>
		<label for="idBudget">Budget by month : </label>
		<input id="idBudget" th:field="*{budgetByMonth}" required />
		<button type="submit">Add</button>
	</form>
	
	<a th:href="@{/expense/create/done(key=${expense.idExpense})}">
		<button>Done</button>
	</a>
	
	
</main>

</body>
</html>