<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expenses</title>
</head>
<body>
<main>

	<div th:text="${group.expenseName}"></div>
	<div th:text="${group.description}"></div>
	<p>Balance : </p>
	<div th:text="${group.balance}"></div>

	<a th:href="@{/group/delete(id=${group.idExpense})}">
		<button>Delete</button>
	</a>

	<div th:each="expense : ${group.expenseList}">
		<div th:text="${expense.label}"></div>
		<div th:text="${expense.value}"></div>
		<a th:href="@{/expense/detail(id=${expense.idLine})}">
			<button>Detail</button>
		</a>
	</div>


		<button>Add</button>
	
	
</main>

</body>
</html>