<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expenses</title>
</head>
<body>
<main>

	<div th:text="${expense.expenseName}"></div>
	<div th:text="${expense.description}"></div>
	<p>Balance : </p>
	<div th:text="${expense.balance}"></div>

	<a th:href="@{/expense/delete(id=${expense.idExpense})}">
		<button>Delete</button>
	</a>

	<div th:each="line : ${expense.lineList}">
		<div th:text="${line.label}"></div>
		<div th:text="${line.value}"></div>
		<a th:href="@{/line/detail(id=${line.idLine})}">
			<button>Detail</button>
		</a>
	</div>


		<button>Add</button>
	
	
</main>

</body>
</html>